.container-section{
    text-align: center;
    padding: 2rem 0;
}

h1{
    margin-bottom: 2rem;
    cursor: default;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
    justify-items: center;
}
.titulo-color{
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .container-items {
        /* CAMBIO CLAVE: Define dos columnas de igual tamaño (1fr 1fr) */
        grid-template-columns: 1fr 1fr; 
        gap: 15px; /* Reduce el espacio entre ítems */
        padding: 0 10px; /* Reduce el padding lateral */
    }
}