.product-item {
  background-color: var(--background-color-2); 
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 16.625rem; /* 266px */
  color: var(--font-color);
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-item img {
  width: 100%;
  height: auto;
  display: block;
}

.product-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.product-item a {
  text-decoration: none;
  color: inherit;
  display: block; 
}

.product-item p {
  margin: 0.375rem 0; /* 6px */
  padding: 0.375rem 0; /* 6px */
}

.product-title {
  margin: 0.675rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
}

.product-actions {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-actions .btn .btn-add {
  margin: 1rem;
}

.image-container {
    width: 100%; 
    height: 300px; 
    overflow: hidden; 
    margin-bottom: 0.5rem; 
    border-radius: 0.5rem;
}

.product-item .image-container img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
  display: block;
}
.product-item .image-container img:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .product-item {
        width: 10.4rem; /* Ocupa el 100% de la columna que le asignó el grid */
        padding: 0.75rem; 
    }

    .image-container { /* Asumiendo que agregaste este contenedor de imagen */
        height: 180px; /* Reduce la altura de la imagen para compactar la tarjeta */
    }
    
    .product-title {
        font-size: 0.9rem;
    }
    /*... otras reducciones de texto si son necesarias ...*/
}